---
import Layout from '../components/layout.astro';
---

<style>
.description {
  background: var(--light);
  padding: 2rem;
  border-radius: var(--card-radius);
  box-shadow: 0 2px 4px rgb(14 30 37 / 12%);
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text {
  font-size: 1rem;
  line-height: 1.5;
}
</style>

<Layout
  title="Trabajo Francisco"
  description="Una breve descripción sobre Gatsby"
  home
>
  <main class="description">
    <h1 class="title">Trabajo Francisco</h1>
    <p class="text">
      Gatsby es un framework de código abierto basado en React que ayuda a los desarrolladores a construir sitios web rápidos y modernos. Utiliza GraphQL para gestionar los datos y ofrece un proceso optimizado de compilación que convierte tu sitio en un conjunto de páginas estáticas que cargan rápidamente, brindando una experiencia de usuario fluida.
    </p>
    <p> se hizo este cambio</p>
  </main>
</Layout>
